.form {padding:1px 0;
	background-color:#0ebfdd; align-items: center;}


.form p{text-align: center;
color: white;
font-size:40px;}

.form  input{padding:5px;
display:;
margin:10px}

input[type="text"] {width:420px;
max-width:750px;border:5px solid; 
border-color:#73767a;border-radius:180px;  	
}

input[type="email"] {width:420px;
max-width:100%;border:5px solid; 
border-color:#73767a;
border-radius:30px;	
}

textarea {margin:10px; 
resize:none;
min-width:420px;
border:5px solid; 
border-color:#73767a;
border-radius:15px;	
}

button[type="submit"]{border-radius:32px;
border-color:#73767a;
border:2px solid;
	
}